/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
body,
html {
    font-family: Raleway, sans-serif;
    font-size: 14px;
    background-color: #171717;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.mat-form-field-underline {
    background-color: #524b3f !important;
}

.mat-form-field-ripple {
    background-color: #dac39c !important;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #171717;
}

*::-webkit-scrollbar-thumb {
    background-color: #dac39c;
    border-radius: 10px;
    border: 2px solid #171717;
}